<p-dialog
  header="Settings"
  [modal]="true"
  [visible]="settingsStore.isSettingsDialogOpen()"
  (visibleChange)="onVisibilityChange($event)"
>
  <div class="flex gap-6 flex-col">
    <div class="flex gap-2 flex-col">
      <label for="focusDuration">Focus Duration</label>
      <p-inputNumber
        inputId="focusDuration"
        [useGrouping]="false"
        suffix=" min"
        [(ngModel)]="this.settingsData.focusDuration.minutes"
      />
      <label for="shortBreakDuration">Short Break Duration</label>
      <p-inputNumber
        inputId="shortBreakDuration"
        [useGrouping]="false"
        suffix=" min"
        [(ngModel)]="this.settingsData.shortBreakDuration.minutes"
      />
      <label for="longBreakDuration">Long Break Duration</label>
      <p-inputNumber
        inputId="longBreakDuration"
        [useGrouping]="false"
        suffix=" min"
        [(ngModel)]="this.settingsData.longBreakDuration.minutes"
      />
      <label for="breakInterval">Break Interval</label>
      <p-inputNumber
        inputId="breakInterval"
        [useGrouping]="false"
        [(ngModel)]="this.settingsData.longBreakInterval"
      />
    </div>
    <div class="flex justify-end gap-2">
      <p-button
        label="Cancel"
        severity="danger"
        (onClick)="this.settingsStore.changeSettingsDialog(false)"
      ></p-button>
      <p-button
        label="Save"
        severity="primary"
        (onClick)="onSaveButtonClicked()"
      ></p-button>
    </div>
  </div>
</p-dialog>
