.top-line {
  border-top: 1px solid var(--surface-border);
}

::ng-deep {
  .p-card-body,
  .p-card-footer {
    padding: 0;
  }

  .p-card-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
