<p-card class="text-center">
  <ng-template pTemplate="header">
    <h1 class="font-bold text-4xl text-black p-4">
      {{ this.pomodoroStore.title() }}
    </h1>
  </ng-template>

  <div class="font-bold text-5xl text-black">
    {{ this.timerStore.currentTime().minutes.toString().padStart(2, "0") }}:{{
      this.timerStore.currentTime().seconds.toString().padStart(2, "0")
    }}
  </div>

  <p-button
    [label]="this.timerStore.stateName()"
    (onClick)="onClick()"
  ></p-button>
  <ng-template pTemplate="footer">
    <div class="p-4 top-line">
      <break-counter />
    </div>
  </ng-template>
</p-card>
